.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
    width: 100px;
    height: 100px;
  }

  .text-center-icon { 
    vertical-align: super;
    padding-left: 5px;
   }

  .img-contact {
    width: 60%;
    position: relative;
    left: 20%;
  }

.card {
  max-width: 400px;
}