<mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10" [opened]="!isScreenSmall"
      [mode]="isScreenSmall ? 'over' : 'side'">
      <mat-toolbar color="primary">
        <mat-icon>assignment_ind</mat-icon>
        <span>BOOK Contacts</span>
      </mat-toolbar>
      <mat-list role="list">
        <a mat-list-item role="listitem" class="item-list" routerLink="contacts" routerLinkActive="route-active">
            <mat-icon>perm_identity</mat-icon>
            <span>Contacts</span>
        </a>
        <a mat-list-item role="listitem" class="item-list" routerLink="contact-favorites" routerLinkActive="route-active">
            <mat-icon>stars</mat-icon>
            <span>Favorites contacts</span> 
        </a>
        <a mat-list-item role="listitem" class="item-list" routerLink="last-contacts" routerLinkActive="route-active">
            <mat-icon>more_time</mat-icon>
            <span>Last contacts</span>
        </a>
        <a mat-list-item role="listitem" class="item-list" [routerLink]="['form-contact', 0]" routerLinkActive="route-active">
            <mat-icon>how_to_reg</mat-icon>
            <span>Add Contact</span>
        </a>
        <a mat-list-item role="listitem" class="item-list" routerLink="documentation" routerLinkActive="route-active">
            <mat-icon>menu_book</mat-icon>
            <span>Documentation</span>
        </a>
        <a mat-list-item role="listitem" class="item-list" routerLink="credit" routerLinkActive="route-active">
            <mat-icon>support_agent</mat-icon>
            <span>Credit</span>
        </a>
      </mat-list>
    </mat-sidenav>
  
    <div class="app-sidenav-content">
      <app-topbar (toggleSidebar)="sidenav.toggle()"></app-topbar>
      <div class="wrapper">
        <app-main-content></app-main-content>
      </div>
    </div>
  
  </mat-sidenav-container>
  
  
