.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 500px;
  }
  
  .example-full-width {
    width: 500px;
  }

#uploadFile {
    top: 0px;
    left: 0px;
    width: 100%;    
    z-index: 9;
    opacity: 0;
    height: 100%;
    cursor: pointer;
    position: absolute;
}